<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artistlist</title>
</head>
<body>
    <h1>Artists</h1>
    <table>
        <tr>
            <th>Artistname</th>
        </tr>
        <tr th:each="artist : ${artists}">
            <td th:text="${artist.artistName}"></td>
        </tr>
    </table>
</body>
</html>