<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <h1>Register User</h1>

    <!-- Display validation error message for username -->
    <div th:if="${#fields.hasErrors('user.username')}" class="error">
        <p th:errors="*{user.username}"></p>
    </div>

    <!-- Display validation error message for email -->
    <div th:if="${#fields.hasErrors('user.email')}" class="error">
        <p th:errors="*{user.email}"></p>
    </div>

    <!-- Display validation error message for password -->
    <div th:if="${#fields.hasErrors('user.passwordHash')}" class="error">
        <p th:errors="*{user.passwordHash}"></p>
    </div>

    <form action="#" th:action="@{/register}" th:object="${user}" method="post">
        <p>Username: <input type="text" th:field="*{username}" 
            required
            minlength="3"
            /></p>
        
        <p>Email: <input type="email" th:field="*{email}" 
            required
            /></p>
        
        <p>Password: <input type="password" th:field="*{passwordHash}" 
            required
            /></p>
        
        <p><input type="submit" value="Register user" /></p>
    </form>
    
    <a href="/login">Back</a>

</body>
</html>








<!--<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <h1>Register User</h1>

    <div th:if="${error}">
        <p th:text="${error}"></p>
    </div>

    <form action="#" th:action="@{/register}" th:object="${user}" method="post">
        <p>Username: <input type="text" th:field="*{username}" 
            required
            minlength="3"
            /></p>
        <p>Email: <input type="email" th:field="*{email}" 
            required
            /></p>
        <p>Password: <input type="password" th:field="*{passwordHash}" 
            required
            /></p>
        <p><input type="submit" value="Register user" /></p>
    </form>
        <a href="/login">Back</a>

</body>
</html>-->